@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




   

 
  .navbar a {
     justify-content: space-between; 
    color: #000;
   position: fixed;
   top: 0;
   width: 100%;
  }
 

.header1 {
text-align: center;
font-size: x-large;
}


table,th,tr,td{
    border:2px solid black;
    border-collapse: collapse;
    padding: 10px 30px;
    text-align: center;
    color: purple;
}
table {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
 
   

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: pink;
}

section {
    border: 5px solid rosybrown;
    box-shadow: 0;
    min-width: 200;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    border: 70px;
}


